@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Add your custom fonts */
  --font-display: 'Copperplate', 'Copperplate Gothic Light', 'serif';
  --font-body: 'Arial', 'sans-serif';
  
  /* Add your custom colors */
  --color-white: #FFFFFF;
  --color-white-dim: #EBEBEB;
  --color-nav-bg: rgba(255, 255, 255, 0.05);
  --color-nav-item-bg: rgba(255, 255, 255, 0.1);
  --color-overlay: rgba(0, 0, 0, 0.65);
  
  /* Add your custom background image */
  --background-hero-pattern: url('https://img-wrapper.vercel.app/image?url=https://s3-alpha-sig.figma.com/img/46a1/1068/5be4de114d24186039db4eb4af1ded4a?Expires=1770595200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=HJUnJNmftsrQ~ezTsyVq6AQtVrn0gqKxjo60DSM0W-DvJ6VWGQVvdRdbBKyEpZP1zC9t3NJrDrzh2mQ8j1PYoXgnEk-QrZWYUD2RcWOXBlc~E2GauHyG7EePPOue4MA31wbSk~URhqSnjEwTcNcSHTn7yYumXEOpbPy5OthngAsxq3DfYYF8TsUHpRuQZ2JT3JaBUPa9j8-auvU7vG24kQ~dEFvxMndVs07wF3tD64RsUz3Wm8sM0nS4eKcs3pH6vJfY6VoSJf7BXlVe7KWA-xO0o9tN7vO6sv8qWU0mBRnfewVlyfKTyFtk2LXGlrOcGQ5qEyD72qxOfxWKEed-lw__');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
